{% extends "base.html" %}

{% block content %}

<h1 class="page-title">

Infrastructure Dashboard

</h1>

<div class="card-container">

    <div class="card">

        <h3>Total Servers</h3>

        <h1>{{ stats.total_servers }}</h1>

    </div>

    <div class="card">

        <h3>Running</h3>

        <h1>{{ stats.running }}</h1>

    </div>

    <div class="card">

        <h3>Stopped</h3>

        <h1>{{ stats.stopped }}</h1>

    </div>

    <div class="card">

        <h3>Production</h3>

        <h1>{{ stats.production }}</h1>

    </div>

    <div class="card">

        <h3>Testing</h3>

        <h1>{{ stats.testing }}</h1>

    </div>

    <div class="card">

        <h3>Development</h3>

        <h1>{{ stats.development }}</h1>

    </div>

</div>

<div class="table-container">

<h2>

Recent Servers

</h2>

<br>

<table>

<tr>

<th>Server</th>

<th>Role</th>

<th>Environment</th>

<th>Status</th>

</tr>

{% for server in servers %}

<tr>

<td>{{ server.server_name }}</td>

<td>{{ server.server_role }}</td>

<td>{{ server.environment }}</td>

<td>

{% if server.status=="Running" %}

<span class="running">

🟢 Running

</span>

{% else %}

<span class="stopped">

🔴 Stopped

</span>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}